* {
	box-sizing: border-box;
}

.container {
	max-width: 1400px;
	margin: 20px auto;
	text-align: center;
}


.accordion_input {
	-webkit-appearance: none;
	appearance: none;
}

.accordion_input:checked ~ .accordion_content {
	display: block;
}

.accordion_title {
	display: block;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	cursor: pointer;
	background: #eee;
	color: #333;
	position: relative;
}

.button {
	background: url(/assets/svg/plus-solid.svg) center no-repeat;
	transition: 0.7s;
	border: 0;
}

.accordion_input:checked~label .button {
    transform: rotate(-45deg);
}

.accordion_content {
	cursor: pointer;
	display: none;
}



.accordion_content:target {
	display: block;
}

.image {
	width: 30%;
	height: 30%;
}

h1 {
	margin: 0;
	padding: 60px 20px;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-align: center;
}